.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.gift-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}
